.grid {
    grid-template-areas:
          'home sites projects resume'
          'siteinfo siteinfo siteinfo siteinfo'
          'siteinfo siteinfo siteinfo siteinfo'
          'resumebox resumeinfo resumeinfo resumeinfo'
          'wedding weddinginfo weddinginfo weddinginfo'
          'nextcloud nextcloudinfo nextcloudinfo nextcloudinfo'
          'gitlab gitlabinfo gitlabinfo gitlabinfo'
          'searxng searxnginfo searxnginfo searxnginfo'
          'upptime upptimeinfo upptimeinfo upptimeinfo'
          'memos memosinfo memosinfo memosinfo'
          'paste pasteinfo pasteinfo pasteinfo'
          'filepizza filepizzainfo filepizzainfo filepizzainfo'
          'nginx nginxinfo nginxinfo nginxinfo'
          'homer homerinfo homerinfo homerinfo'
          'amp ampinfo ampinfo ampinfo';
}

.home {
    grid-area: home;
}

.resume {
    grid-area: resume;
}

.projects {
    grid-area: projects;
}

.sites {
    grid-area: sites;
}

.siteinfo {
    grid-area: siteinfo;
    text-align: left;
    justify-content: unset;
}

.resumebox {
    grid-area: resumebox;
}

.resumeinfo {
    grid-area: resumeinfo;
    text-align: left;
    justify-content: unset;
}

.wedding {
    grid-area: wedding;
}

.weddinginfo {
    grid-area: weddinginfo;
    text-align: left;
    justify-content: unset;
}

.nextcloud {
    grid-area: nextcloud;
}

.nextcloudinfo {
    grid-area: nextcloudinfo;
    text-align: left;
    justify-content: unset;
}

.gitlab {
    grid-area: gitlab;
}

.gitlabinfo {
    grid-area: gitlabinfo;
    text-align: left;
    justify-content: unset;
}

.searxng {
    grid-area: searxng;
}

.searxnginfo {
    grid-area: searxnginfo;
    text-align: left;
    justify-content: unset;
}

.upptime {
    grid-area: upptime;
}

.upptimeinfo {
    grid-area: upptimeinfo;
    text-align: left;
    justify-content: unset;
}

.memos {
    grid-area: memos;
}

.memosinfo {
    grid-area: memosinfo;
    text-align: left;
    justify-content: unset;
}

.paste {
    grid-area: paste;
}

.pasteinfo {
    grid-area: pasteinfo;
    text-align: left;
    justify-content: unset;
}

.filepizza {
    grid-area: filepizza;
}

.filepizzainfo {
    grid-area: filepizzainfo;
    text-align: left;
    justify-content: unset;
}

.nginx {
    grid-area: nginx;
}

.nginxinfo {
    grid-area: nginxinfo;
    text-align: left;
    justify-content: unset;
}

.homer {
    grid-area: homer;
}

.homerinfo {
    grid-area: homerinfo;
    text-align: left;
    justify-content: unset;
}

.amp {
    grid-area: amp;
}

.ampinfo {
    grid-area: ampinfo;
    text-align: left;
    justify-content: unset;
}

.icon {
    width: 85%;
}